{% extends 'map.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/index.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/navbar.css") }}">

{% endblock %}
{% block title %}Running maps{% endblock %}

{% block body %}
    <section class="header">
        <a href=""><img src="{{ asset("assets/images/logo-reduit.svg") }}" alt=""></a>
        <a href="/runner/"><div class="profile"><i class="fa-solid fa-user"></i><p></p></div></a>
    </section>
    <h2>Course en cours</h2>
    <section class="activeRun">
        <div id="map"></div>
        <div class="activeRun__infos">
            <h3>{{run.name}}</h3>
            <p>{{run.runDate|date('d-m-Y H:i:s')}}</p>
        </div>
        <a href="/map/{{run.id}}" class="p-button" style="font-size:28px; margin-top:18px;">Voir la course</a>
    </form>
    <h2>Prochaines courses</h2>
    <section class="allRuns">
        <div class="maps">
            <div class="map active"></div>
        </div>
        <div class="activeRun__infos">
            <h3>{{run.name}}</h3>
            <p>{{run.runDate|date('d-m-Y H:i:s')}}</p>
        </div>
        <div class="allRuns__buttons">
            {# <a href="" class="p-button" style="font-size:24px; margin-top:18px;">S'inscrire</a> #}
            <a href="" class="s-button" style="font-size:24px; margin-top:18px;">S'inscrire</a>
        </div>     
    </section>
    <div class="nav">
            <ul>
                <li class="nav__list ">
                    <a href="/map/{{run.id}}" >
                        <span class="nav__list--icon"><i class="fa-solid fa-person-running"></i></span>
                        <span class="nav__list--text">Courses</span>
                    </a>
                </li>
                <li class="nav__list active">
                    <a href="{{ path('app_map_index') }}">
                        <span class="nav__list--icon"><i class="fa-solid fa-house"></i></span>
                        <span class="nav__list--text">Accueil</span>
                    </a>
                </li>
                <li class="nav__list">
                    <a href="/runner/">
                        <span class="nav__list--icon"><i class="fa-solid fa-user"></i></span>
                        <span class="nav__list--text">Profil</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>	
	    </div>
    
    {% block javascripts %}
			<script src="https://kit.fontawesome.com/faa5ea95e9.js" crossorigin="anonymous"></script>
		    <script src="{{ asset("assets/js/navbar.js") }}"></script>
            <script>
                const Run = {
                    id: {{run.id}}, name: "{{run.name}}", created_at: {{run.createdAt|date('U')}}, map: "{{run.map}}", date: {{run.runDate|date('U')}}, finished_at: {{run.finishedAt ? run.finishedAt|date('U') : "null"}}
                };
            </script>
    {% endblock %}
{% endblock %}
