{% extends 'map.html.twig' %}

{% block title %}{{run.name}}{% endblock %}

{% block body %}
    <div id="map"></div>
    <div>
        {% if run.finishedAt %}
            <input class="time-choice" type="range" value="{{run.runDate|date('U')}}" min="{{run.runDate|date('U')}}" max="{{run.finishedAt|date('U')}}">
        {% endif %}
        <p>Debut de course : {{run.runDate|date('Y-m-d H:i:s')}}</p>
        <p>Fin de course : {{run.finishedAt ? run.finishedAt|date('Y-m-d H:i:s') : "la course n'est pas terminee."}}</p>
    </div>
    <script>

        const Run = {
            id: {{run.id}}, name: "{{run.name}}", created_at: {{run.createdAt|date('U')}}, map: "{{run.map}}", date: {{run.runDate|date('U')}}, finished_at: {{run.finishedAt ? run.finishedAt|date('U') : "null"}}
        };

    </script>
{% endblock %}