{% extends 'map.html.twig' %}

{% block title %}{{run.name}}{% endblock %}

{% block body %}
    <style>
        html, body {
            margin: 0;
        }
        #map {
            height: 50vh;
            width: 50vw;
            box-sizing: border-box;
        }
    </style>

    <div id="map"></div>
    <div>
        {% if run.finishedAt %}
            <input class="time-choice" type="range" value="{{run.runDate|date('U')}}" min="{{run.runDate|date('U')}}" max="{{run.finishedAt|date('U')}}">
        {% endif %}
        <p>Debut de course : {{run.runDate|date('Y-m-d H:i:s')}}</p>
        <p>Fin de course : {{run.finishedAt ? run.finishedAt|date('Y-m-d H:i:s') : "la course n'est pas terminee."}}</p>
    </div>

    <script>
        const GetRunnersInfo = async (timestamp) => {
            const f = await fetch(`/coords/{{ run.id }}/${timestamp}`);
            const c = await f.json();
            return c;
        }
        window.addEventListener('DOMContentLoaded', async () => {
            //run data
            await Run.init( {{ { 'id': run.id, 'name': run.name, 'created_at': run.createdAt,'map': run.map, 'date': run.runDate }|json_encode()|raw }} );
            await App.loadMarkers(await GetRunnersInfo({{run.runDate|date('U')}}));
            //run progress showcase with range slider
            let timer;
            let timestamp_input = document.querySelector('.time-choice');
            if(!timestamp_input) return;
            timestamp_input.value = 0;
            timestamp_input.addEventListener('input', function()  {
                clearTimeout(timer);
                //fetch only half a second after selecting
                timer = setTimeout( async () => {
                    await App.updateMarkers(await GetRunnersInfo(this.value));
                }, 500);
            });
        });
    </script>
{% endblock %}