{% extends 'base.html.twig' %}

{% block title %}Les courses{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/adminRunnerIndex.css") }}">
{% endblock %}
{% block body %}
    <div class="adminHeader">
        <a href="{{path('app_map_index')}}">
		    <img src="{{ asset("assets/images/logo-reduit.svg") }}" alt="">
        </a>
		<a href="{{ path('app_admin_index') }}">Accueil</a>
	</div>
    <h1>Gérer les courses</h1>
    <a href="{{ path('app_admin_run_new') }}" class="p-button" style="margin-bottom:50px;">Créer une nouvelle course</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Carte</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
        {% for run in runs %}
            <tr class="runnerProfile">
                <td>{{ run.name }}</td>
                <td>{{ run.map }}</td>
                <td>{{ run.runDate ? run.runDate|date('d F, Y \à H:i:s') : '' }}</td>
                <td>{{ run.finishedAt ? run.finishedAt|date('d F, Y \à H:i:s') : 'Course non terminée.' }}</td>
                <td class="actions">
                    <a href="{{ path('app_admin_run_edit', {'id': run.id}) }}" class="mod-btn">Modifier</a>
                    {{ include('admin/run/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune course a été trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
