{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/navbar.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/profile.css") }}">
{% endblock %}
{% block title %}Profil -
	{{user.login}}
{% endblock %}

{% block body %}
	<a href="{{ path('app_runner_profile', {'id': user.id}) }}">Voir mon profil</a>
	<div>
        {% for run in runs %}
			<p>{{run.name}}</p>
			{# if requested to join #}
			{% if run in requests %}
				<p>demande en cours</p>
				{# if request accepted #}
			{% elseif user in run.getRunners %}
				<p>Participation accepte</p>
			{# if none above then able to request to participate #}
			{% else %}
				<a class="request" href="{{path('app_runner_participate', {'id': run.id})}}">participer</a>
			{% endif %}
		</div>
		{% else %}
			<p>Aucune course est disponible en ce moment.</p>
		{% endfor %}
	</div>
	<div class="nav">
            <ul>
                <li class="nav__list ">
                    <a href="/map/" >
                        <span class="nav__list--icon"><i class="fa-solid fa-person-running"></i></span>
                        <span class="nav__list--text">Courses</span>
                    </a>
                </li>
                <li class="nav__list ">
                    <a href="{{ path('app_map_index') }}">
                        <span class="nav__list--icon"><i class="fa-solid fa-house"></i></span>
                        <span class="nav__list--text">Accueil</span>
                    </a>
                </li>
                <li class="nav__list active">
                    <a href="/runner/">
                        <span class="nav__list--icon"><i class="fa-solid fa-user"></i></span>
                        <span class="nav__list--text">Profil</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>	
	    </div>
		{% block javascripts %}
			<script src="https://kit.fontawesome.com/faa5ea95e9.js" crossorigin="anonymous"></script>
        	<script src="{{ asset("assets/js/navbar.js") }}"></script>
		{% endblock %}
{% endblock %}
