{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/navbar.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/profile.css") }}">
{% endblock %}
{% block title %}Running -
	{{app.user.login}}
{% endblock %}

{% block body %}
	<div>
        Tu cours sur la course {{run.name}}
	</div>
    <script defer>
        const UserId = {{app.user.id}};
        const RunId = {{run.id}};
        const RunDate = {{run.runDate|date('U')}};
    </script>
    <script src="{{ asset('/assets/js/runner.js') }}" defer></script>
{% endblock %}