{% extends 'base.html.twig' %}

{% block title %}Runner
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/adminRunnerIndex.css") }}">
{% endblock %}

{% block body %}
	<div class="adminHeader">
		<a href="{{ path('app_admin_index') }}"><img src="{{ asset("assets/images/logo-reduit.svg") }}" alt=""></a>
		<a href="{{ path('app_admin_index') }}">Accueil</a>
	</div>
	<h1>Gérer les profils</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Login</th>
				<th>Picture</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for runner in runners %}
				<tr class="runnerProfile">
					<td>{{ runner.login }}</td>
					<td>{{ runner.picture }}</td>
					<td class="actions">
						<a href="{{ path('app_admin_runner_edit', {'id': runner.id}) }}" class="mod-btn">Modifier</a>
						<a href="">{{ include('admin/runner/_delete_form.html.twig') }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
